services:
  web:
    build: .
    container_name: composite-ms1
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    env_file:
      - .env
    networks:
      - micro-net
networks:
  micro-net:
    external: true